A:link {
color : #e3b47c;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A:visited {
color : #e3b47c;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A:active {
color : #86b3c7;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A:hover {
color : #0f4764;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
BODY {
color : #000000;
background-color : #ffffff;
font-family : Arial, Helvetica, sans-serif;
font-size : 12px;
}
.normal {
font-family : Arial, Helvetica, sans-serif;
font-size : 12px;
}
.rotulo {
color : #5e1111;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
font-size : 12px;
}
A.cabeceraTabla:link {
color : #ffffff;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A.cabeceraTabla:visited {
color : #ffffff;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A.cabeceraTabla:active {
color : #0f4764;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A.cabeceraTabla:hover {
color : #e3b47c;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A.navegacion:link {
color : #ffffff;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
font-size : 8px;
}
A.navegacion:visited {
color : #ffffff;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
font-size : 8px;
}
A.navegacion:active {
color : #0f4764;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
font-size : 8px;
}
A.navegacion:hover {
color : #e3b47c;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
font-size : 8px;
}
A.descargas:link {
color : #0f4764;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A.descargas:visited {
color : #0f4764;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A.descargas:active {
color : #ffffff;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A.descargas:hover {
color : #86b3c7;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
abbr, acronym 
{
	cursor : help;	
	border-bottom: 1px dotted #000000;
}
table 
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 15px;
}
h1 
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	color : #14a0bf;
}
h2 
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18px;
}
h3 
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	color : #14a0bf;
}
kbd 
{
	line-height:2em;
	border-top:.15em solid #ccc;
	border-right:.25em solid #aaa;
	border-bottom:.3em solid #888;
	border-left:.2em solid #bbb;
	padding:.05em .2em;
	margin:0 1.5px;
	color:#000;
	background:#eee;
	vertical-align: text-bottom;
}
