A:link {
color : #ffffff;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A:visited {
color : #ffffff;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A:active {
color : #86b3c7;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
A:hover {
color : #0f4764;
text-decoration : none;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
}
body {
color : #000000;
background-color : #ffffff;
font-family : Arial, Helvetica, sans-serif;
font-size : 12px;
}